[submodule "lib/pkp"]
	path = lib/pkp
	url = https://github.com/pkp/pkp-lib.git
[submodule "plugins/generic/usageStats"]
        path = plugins/generic/usageStats
        url = https://github.com/pkp/usageStats.git
[submodule "plugins/generic/customBlockManager"]
	path = plugins/generic/customBlockManager
	url = https://github.com/pkp/customBlockManager.git
[submodule "plugins/generic/staticPages"]
	path = plugins/generic/staticPages
	url = https://github.com/pkp/staticPages.git
[submodule "plugins/generic/tinymce"]
	path = plugins/generic/tinymce
	url = https://github.com/pkp/tinymce.git
[submodule "plugins/generic/pdfJsViewer"]
	path = plugins/generic/pdfJsViewer
	url = https://github.com/pkp/pdfJsViewer.git
[submodule "docs/manual"]
	path = docs/manual
	url = https://github.com/pkp/ojs-user-guide
[submodule "plugins/generic/lensGalley"]
	path = plugins/generic/lensGalley
	url = https://github.com/asmecher/lensGalley
	branch = i1472-fix
[submodule "plugins/generic/googleAnalytics"]
	path = plugins/generic/googleAnalytics
	url = https://github.com/pkp/googleAnalytics.git
[submodule "plugins/generic/orcidProfile"]
	path = plugins/generic/orcidProfile
	url = https://github.com/pkp/orcidProfile.git
[submodule "plugins/blocks/makeSubmission"]
	path = plugins/blocks/makeSubmission
	url = https://github.com/pkp/makeSubmission.git
[submodule "plugins/reports/reviewReport"]
	path = plugins/reports/reviewReport
	url = https://github.com/pkp/reviewReport
[submodule "lib/ui-library"]
	path = lib/ui-library
	url = https://github.com/pkp/ui-library
[submodule "plugins/generic/citationStyleLanguage"]
	path = plugins/generic/citationStyleLanguage
	url = https://github.com/pkp/citationStyleLanguage.git
[submodule "plugins/reports/counter/classes/COUNTER"]
	path = plugins/reports/counter/classes/COUNTER
	url = https://github.com/ulsdevteam/COUNTER.git
[submodule "plugins/blocks/browse"]
	path = plugins/blocks/browse
	url = https://github.com/pkp/browse
[submodule "plugins/generic/googleScholar"]
	path = plugins/generic/googleScholar
	url = https://github.com/pkp/googleScholar
[submodule "plugins/generic/mostViewed"]
	path = plugins/generic/mostViewed
	url = https://github.com/RBoelter/mostViewed
[submodule "plugins/blocks/twitterBlock"]
	path = plugins/blocks/twitterBlock
	url = https://github.com/RBoelter/twitterBlock
[submodule "plugins/blocks/announcementsBlock"]
	path = plugins/blocks/announcementsBlock
	url = https://github.com/RBoelter/announcementsBlock
[submodule "plugins/generic/citations"]
	path = plugins/generic/citations
	url = https://github.com/RBoelter/citations
[submodule "plugins/generic/psychopen-aam"]
	path = plugins/generic/psychopen-aam
	url = https://github.com/leibniz-psychology/psychopen-aam
[submodule "plugins/generic/openid"]
	path = plugins/generic/openid
	url = https://github.com/leibniz-psychology/pkp-openid
[submodule "plugins/generic/futureIssueOverview"]
	path = plugins/generic/futureIssueOverview
	url = https://github.com/leibniz-psychology/psychopen-futureIssue
[submodule "plugins/themes/psychopen"]
	path = plugins/themes/psychopen
	url = https://github.com/leibniz-psychology/psychopen-theme
